name: Build 

on:
  workflow_call:

jobs:
  #name of job, free choice, could also give a name
  build:
    permissions:
      actions: read
      contents: read
      security-events: write
    #runner
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 18
      uses: actions/setup-java@v3
      with:
        java-version: '18'
        distribution: 'temurin'
        cache: maven
    # compile
    - name: Build with Maven
      run: mvn clean package -B -Dmaven.test.skip
    - run: mkdir candidate-binary && cp target/*.jar candidate-binary
    # test
    - name: Test with Maven
      run: mvn test
    - run: mkdir test-results && cp target/*-reports/TEST-*.xml test-results
    - uses: actions/upload-artifact@v3
      with:
        name: Application-Binary
        path: candidate-binary
    - uses: actions/upload-artifact@v3
      with:
        name: Test-Results
        path: test-results
    - name: Publish Test Results
      uses: actions/upload-artifact@v2
      if: always()
      with:
        name: Test Results
        path: test-results 
    - name: Download Test Results
      uses: actions/download-artifact@v2
      with:
        name: Test Results


