#########################################################################################
#
#  Copyright (c) 2023 ZF Friedrichshafen AG
#  Author: Rohan Krishnamurthy
#  E-mail: rohan.krishnamurthy@zf.com
#
#########################################################################################

name: OWASP, Trivy, and KICKS Vulnerability Scan

on:
  workflow_call:

jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Run OWASP Dependency Checker
        run: mvn --batch-mode install -Pdependency-check -DskipTests

      - name: Upload OWASP Dependency Check results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          path: 'target/dependency-check-report.html'

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: "config"
          exit-code: "1"
          hide-progress: false
          format: "sarif"
          output: "trivy-results.sarif"
          severity: "CRITICAL,HIGH"

      - name: Upload Trivy scan results to GitHub Security tab
        if: always()
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: "trivy-results.sarif"

      - name: Run KICKS vulnerability scanner
        uses: checkmarx/kics-github-action@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          output: "kicks-results.json"
          format: "sarif"

      - name: Upload KICKS scan results to GitHub Security tab
        if: always()
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: "kicks-results.json"
